@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="SingleModel">Single model. Works</a>
    </div>
    <div class="col-md-12">
        <a asp-action="IEnumerableModel">IEnumerable model. Does not work.</a>
    </div>
</div>
